<div class="jumbotron">
  <div class="container">
    <div class="register-inner-container">

<%= render partial: 'shared/error_messages', locals: { object: @plot_point } %>

<%= form_for [@project, @plot_point], :html => {:class => 'form-inline'} do |f| %>
  <div class="form-group input-group plot-point-inline plot-point-form-input">
  	<%= f.label :main_plot, class: 'plot-form-txt' %>
  	<%= f.check_box :main_plot, class: 'form-control plot-point-form-control' %>
  </div>

  <div class="form-group plot-point-inline plot-point-form-input">
  	<%= f.label :text, class: 'plot-form-txt' %>
  	<%= f.text_area :description, class: 'form-control plot-point-form-control' %>
  </div>

  <div class="form-group plot-point-inline plot-point-form-input" id="plot-pt-txt">
    <%= f.label :chapter, id: 'plot-form-txt' %><br>
    <%= f.select("chapter_id", @project.chapters.map { |chapter| [chapter.chapter_number,chapter.id ]}, class: "plot-point-form-control" )%>
  </div><br>

    <%= f.hidden_field :project_id, :value => @project.id %>

  	<%= f.submit "Submit", class: 'btn btn-default', id: 'plot-btn' %>
<% end %>
</div>
</div>
</div>
