<div class="jumbotron">
  <div class="container">
    <div class="register-inner-container">

<%= render partial: 'shared/error_messages', locals: { object: @plot_point } %>

<%= form_for @plot_point, :html => {:class => 'form-inline'} do |f| %>
  <div class="form-group input-group plot-point-inline">
  	<%= f.label :main_plot %>
  	<%= f.check_box :main_plot, class: 'form-control' %>
  </div>

  <div class="form-group plot-point-inline">
  	<%= f.label :text %>
  	<%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group plot-point-inline">
    <%= f.label :chapter %><br>
    <%= f.select("chapter_id", @project.chapters.map { |chapter| [chapter.chapter_number,chapter.id ]} )%>
  </div><br>

    <%= f.hidden_field :project_id, :value => @project.id %>

  	<%= f.submit "Submit", class: 'btn btn-default', id: 'plot-btn' %>
<% end %>
</div>
</div>
</div>
