<div id="project_show_content">
  <header>
  <% if @project %>
     <h1><%= @project.title %></h1>
     <hr>
    </header>
    <div id="content">
      <p><%= @project.summary %></p>
    </div>
  <% @project.characters.each do |character| %>
    <<p><%= character.name %></p>
  <% end %>
  <% @project.chapter.each do |chapter| %>
    <p><%= character.number %></p>
  <% end %>

    <% if @current_user==@project.user %>
        <nav id='post_options'>
          <%= link_to 'Edit', edit_project_path(@project) %> |
          <%= link_to 'Add Chapter', new_chapter_path(@project) %> |

          <%= link_to 'Delete ', @project
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </nav>
    <% end %>
    <hr>
  <% end %>
</div>
