<div class= "container">
  <div id="project-show-content" class= "col-md-12">
    <% if @project %>
    <h1 class="title"><%= @project.title %></h1>
      <div class="container-fluid row">
          <div class="col-md-3">
            <div class="panel panel-default panel-body categories">
              <h3 class ="#Chapters"><a class = "sort-button" href= "/projects/<%= @project.id%>/chapters">Chapters</a></h3>
              <h3 class = "#Characters"><a class = "sort-button developers" href= "#">    <%= link_to 'Characters', characters_path(:project_id => @project.id) %></a></h3>
              <h3 class ="#Plot Lines"><a class = "sort-button" href= "#"><%= link_to 'Plot Lines', plot_points_path(:project_id => @project.id) %></a></h3>
            </div>
        </div>

          <div id = "project-summary" class= "col-md-8">
            <div id="project-summary" class="panel panel-default">
              <div class="panel-body"><h4><%= @project.summary %></h4></div>
            </div>
          </div>
    <% end %>

  </div>
</div>