<div class= "container">

  <nav class="navbar navbar-default" id="chapters-nav">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/projects/<%=@project.id%>"><%= @project.title %></a>
      </div>
    <ul class="nav navbar-nav">
      <% @project.chapters.each do |chapter| %>
        <li><a class="chapter-button" id="/chapters/<%=chapter.id%>" href="/chapters/<%=chapter.id%>">Chapter <%= chapter.chapter_number %></a></li>
        <% end %>
        <li id="add-chapter"><%= link_to 'Add Chapter', new_project_chapter_path(@project) %></li>
    </ul>
  </nav>

  <div class= "show-content col-md-12">
    <% if @project %>
    <h1 class="title"><%= @project.title %></h1>
      <div class="container-fluid row">
          <div class="col-md-3">
            <div class="panel panel-default panel-body categories">
              <h3><a id="<%=@project.id%>/characters" class = "sort-button" href= "/projects/<%= @project.id%>/characters">Characters</a></h3>
              <h3><a id="<%=@project.id%>/plot_points" class = "sort-button" href= "/projects/<%= @project.id%>/plot_points">Plot Points</a></h3>
            </div>
        </div>

          <div id = "project-summary " class= "col-md-8">
            <div class="panel panel-default project-show-content">
              <div class="panel-body"><h4><%= @project.summary %></h4></div>
            </div>
          </div>
    <% end %>

  </div>
</div>