<div id="project_show_content">
  <header>
  <% if @project %>
     <h1><%= @project.title %></h1>
     <hr>
    </header>
    <div id="content">
      <p><%= @project.summary %></p>
    </div>
  <% @project.chapters.each do |chapter| %>
    <p>Chapter: <%= link_to chapter.chapter_number, chapter_path(chapter) %> | <%= chapter.chapter_title %></p>
    <p>Characters</p>
    <% chapter.characters.each do |character| %>
      <p><%= character.name %> | <%= character.description %></p>
    <% end %>
  <% end %>

    <% if @current_user==@project.user %>
        <nav id='post_options'>
          <%= link_to 'Edit', edit_project_path(@project) %> |
          <%= link_to 'Add Chapter', new_chapter_path(@project) %> |

          <%= link_to 'Delete ', @project,
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
        </nav>
    <% end %>
    <hr>
  <% end %>
</div>
