  <%= render partial: 'shared/error_messages', locals: { object: @character } %>



<%= form_for (@character) do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>

  </p>
  <p>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </p>

    <%= hidden_field_tag('chapter_id', @chapter.id) %>
    <%= hidden_field_tag('project_id', @chapter.project.id) %>
  <p>
    <%= f.submit "Submit" %>
  </p>

<% end %>