<div class="register-inner-container project-show-content">

<%= render partial: 'shared/error_messages', locals: { object: @character } %>

<div class="form-horizontal" >
  <%= form_for @character, :html => {:class => 'chapter-form'} do |f| %>

    <div class="col-md-10 form-group input-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="col-md-10 form-group input-group">
      <%= f.label :description %>
      <%= f.text_field :description, class: 'form-control' %>
    </div>

    <div class="col-md-10 form-group input-group" id="char-pt-txt">
      <%= f.label :chapter, id: "char-drop-label" %><br>
      <%= f.select("id", @project.chapters.map { |chapter| [chapter.chapter_number,chapter.id ]}, class: 'dropdown-color')%>
    </div><br>

      <%= f.hidden_field :project_id, :value => @project.id %>

      <%= f.submit "Submit", class: 'btn btn-default' %>

  <% end %>
</div>
</div>

