<div class= "container">
  <% if @chapters.empty? == false %>
    <div class= "container">
  <nav class="navbar navbar-default" id="chapters-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/projects/<%=@project.id%>"><%= @project.title %></a>
    </div>
    <ul class="nav navbar-nav">
      <% @chapters.each do |chapter| %>
        <li><a href="/chapters/<%=chapter.id%>">Chapter <%= chapter.chapter_number %></a></li>
        <% end %>
        <li id="add-chapter"><%= link_to 'Add Chapter', new_project_chapter_path(@project) %></li>
    </ul>
  </div>
</nav>
  <div class= "col-md-12 show-content">
    <h1 class="title"><%= 1 %>. <%= @chapters.first.chapter_title %></h1>
      <div class="container-fluid row">
          <div class="col-md-3">
            <div class="panel panel-default panel-body categories">
              <h3 class = "#Characters"><a class = "sort-button developers" href= "#"><%= link_to 'Characters', characters_path(:project_id => @project.id) %></a></h3>
              <h3 class ="#Plot Lines"><a class = "sort-button" href= "#"><%= link_to 'Plot Lines', plot_points_path(:project_id => @project.id) %></a></h3>
            </div>
        </div>
          <div id = "chapter-summary" class= "col-md-8">
            <div id="chapter-summary" class="panel panel-default">
              <div class="panel-body"><h4><%= @chapters.first.summary %></h4></div>
            </div>
          </div>
  <% else %>
    <h1 class = "title"> <%= @project.title %> doesn't have any chapters yet.</h1>
    <h2 class = "title"><%= link_to 'Add Chapter', new_project_chapter_path(@project) %></h2>
  <% end %>
  </div>
</div>